header{
    height:100vh;
    background:url(../media/home-1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

// Blog Index Header Styling
.blogHeader{
background:url(../blog/media/blog-1.jpeg);
background-position: center;
background-size: cover;
background-repeat:no-repeat;
height:80vh;
}

.contactHeader{
    height:60vh;
    background:url(../contact/media/contact-1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}


.contactBackgroundContainer{
    height:60vh;
    background:url(../contact/media/contact-2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    }
