.sectionFeatures{
    display:flex;
    justify-content: space-between;


    .imageContainer{
        width:30%;
        order:1;
    }

    .sectionContainer{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        width:50%;
        padding:2% 0;

        .textContainer{
            display:flex;
            flex-direction: column;
            flex-wrap:wrap;
            position:relative;
            width:45%;
            margin:2% 0;
        }
    }
}